#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* #container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#keyboard {
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#bodyContainer {
  display: flex;
  justify-content: center;
}
#styleBtnsContainer {
  align-self: flex-end;
  display: flex;

  max-height: 50px;
  max-width: 270px;
  flex-wrap: wrap;
} */

#bodyContainer {
  display: flex;
  flex-direction: row;
}
#keyboard {
  gap: 7px;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#spacebar {
  width: 260px;
}
#styleBtnsContainer button {
  gap: 7px;
  max-width: 90px;
  height: 60px;
  width: 90px;
}
